@charset "ISO-8859-1";

.ui-autocomplete {
	background: white;
	font-weight: normal;
	color: #000000;
	width: 300px ; 
	list-style: none;
    list-style-type: none;
    padding: 1px;
    margin: 1px;
     z-index: 99999;    
}
.ui-state-active, .ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, 
.ui-state-active.ui-button:hover 
{
  border: 1px solid #000;
  background: grey;
  font-weight: normal;
  color: #fff;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}